<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <main class="container">
        <div class="row">
            <div class="col">
                {{ content }}
            </div>
        </div>
    </main>
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>
